---
layout: default

type: page
---

<div class="row" style="margin-top: 40px">
  <div class="col-sm-10 col-sm-offset-1">
    <p>
      Hi! I'm Christian Genco. I'm the founder of
      <a href="https://fileinbox.com">Fileinbox</a>, author of the
      <a href="https://microconf.gen.co">Microconf Recap</a>, and creator of
      <a href="#projects">several smaller projects</a>.
    </p>

    <p>
      I'm into minimalism and keep a
      <a href="/things">list of everything I own</a>. I
      <a
        href="https://www.youtube.com/embed/uRk64UlQtA8?list=PLNev7VcPIItGNy1wRkDd7lsp9UpP1Be8O"
        target="_blank"
        >vlog</a
      >
      and <a href="#posts">write</a> and take <a href="#books">book notes</a> to
      work on being a better human.
    </p>
    <p></p>

    <p><b>What I'm excited about right now</b></p>

    <p>
      THIS NEW POST-COVID-19 MARKET WHERE EVERYONE IS BASICALLY LIVING HOW I'VE BEEN LIVING FOR THE LAST SEVEN YEARS 😍😍😍 My brain is just exploding with ideas to work on. I've never felt more excited about working. Stuff in the pipeline is Genco School (my version of a code bootcamp that also teaches how to start a software business), tabletop.app (play board games remotely with friends), and a new version of fileinbox running entirely on firebase (so it's super scalable and has way more features). Also I'm excited about the potential for my new journaling system (including chatting to a transcriber on my morning walks).
    </p>

    <p><b>Contact info</b></p>

    <ul>
      <li>
        <i class="fa fa-envelope"></i>
        <a href="mailto:christian@gen.co">christian@gen.co</a>
      </li>
      <li>
        <i class="fa fa-facebook"></i>
        <a href="http://www.facebook.com/cgenco">facebook.com/cgenco</a>
      </li>
      <li>
        <i class="fa fa-twitter"></i>
        <a href="https://twitter.com/cgenco">twitter.com/cgenco</a>
      </li>
      <li>
        <i class="fa fa-github"></i>
        <a href="https://github.com/christiangenco"
          >github.com/christiangenco</a
        >
      </li>
      <li>
        <i class="fa fa-linkedin"></i>
        <a href="http://www.linkedin.com/in/cgenco">linkedin.com/in/cgenco</a>
      </li>
      <li>
        <img
          src="https://i.imgur.com/SEbaajC.png"
          style="display: inline; width: 21px"
        />
        <a href="https://news.ycombinator.com/user?id=christiangenco"
          >HN/christiangenco</a
        >
      </li>
    </ul>

    <hr />

    <h2>Videos</h2>

    <div class="row">
      <div class="col-sm-12 col-md-6" style="margin-bottom: 30px">
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/ocHExbA8K4Y"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-sm-12 col-md-6" style="margin-bottom: 30px">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/uRk64UlQtA8?list=PLNev7VcPIItGNy1wRkDd7lsp9UpP1Be8O"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-sm-12 col-md-6" style="margin-bottom: 30px">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/R9ikWJGpzNw"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-sm-12 col-md-6" style="margin-bottom: 30px">
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/xfBWk4nw440"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-sm-12 col-md-6" style="margin-bottom: 30px">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/Uiq0DTCJvy0"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-sm-12 col-md-6" style="margin-bottom: 30px">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/WM_-laDEHcA"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <h2><a id="projects" name="projects"></a>Projects</h2>

    <ul>
      <li>
        <a target="_blank" href="https://fileinbox.com">Fileinbox</a>
        (previously called DBinbox): receive files from your clients to your
        Dropbox
      </li>
      <li>
        <a target="_blank" href="https://gen.co/yt">Your Thoughts Script Generator</a>:
        a tool for more efficiently making and publishing episodes of my very serious daily podcast <a href="https://yourthoughts.fm">Your Thoughts</a>.
      </li>
      <li>
        <a target="_blank" href="http://textbooksplease.com">textbooks please</a
        >: textbook search engine
      </li>
      <li>
        <a
          target="_blank"
          href="https://chrome.google.com/webstore/detail/export-history/hcohnnbbiggngobheobhdipbgmcbelhh?hl=en-US"
          >Export History</a
        >: Chrome plugin to export your history
      </li>
      <li>
        <a target="_blank" href="https://gen.co/expenses">Expense Tracker</a>:
        simple graph of your expenses from an Airtable spreadsheet
      </li>
      <li>
        <a target="_blank" href="https://gen.co/allthemusic/?notes=53325332">All the Music Player</a>:
        browse every pop melody that has ever existed and ever will exist
      </li>
      <li>
        <a target="_blank" href="https://gen.co/pixels/">Pixel Art Creator</a>:
        a simple programming IDE to draw pixel art
      </li>
      <li>
        <a target="_blank" href="https://gen.co/birthdays">Bonus Birthdays</a>:
        Calculate your bonus birthdays, like when you turn 20,000 days old, or
        when you're the same age George Washington was when he became president.
      </li>
      <li>
        <a target="_blank" href="https://www.alexaskillstore.com/Dr-Dog/39678"
          >Dr. Dog</a
        >: ask your Amazon Echo or Google Home if it's safe for your dog to eat
        certain foods
      </li>
      <li>
        <a target="_blank" href="https://gen.co/edraft">Email Drafter</a>: a
        markdown email editor that renders as plaintext and HTML
      </li>
      <li>
        <a target="_blank" href="https://gen.co/dndice">DnDice</a>: Dungeons and
        Dragons dice roller
      </li>
      <li>
        <a target="_blank" href="https://gen.co/qgen/">qgen</a>: query generator
        for hunting for 30x500 audiences
      </li>
      <li>
        <a
          target="_blank"
          href="https://itunes.apple.com/us/app/pastcam/id1217068871?mt=8"
          >PastCam</a
        >: iOS app to take "then and now" style pictures
      </li>
      <li>
        <a target="_blank" href="https://gen.co/qr/">QR reader/writer</a>: QR
        code reader that works offline, like on an air gapped computer
      </li>
      <li>
        <a target="_blank" href="http://christian.gen.co/secrets/">Secrets</a>:
        split up a secret into N pieces so you can recover it with any M of the
        pieces
      </li>
      <li>
        <a target="_blank" href="http://mosaic.apps.gen.co">Mosaic Web Dev</a>:
        a platform for hosting lessons that students can go through at their own
        pace
      </li>
      <li>
        <a target="_blank" href="http://gen.co/humansort/">HumanSort</a>: sort a
        list based on whatever you want by comparing two things at a time
      </li>
      <li>
        <a target="_blank" href="http://markdowntomla.com/">Markdown to MLA</a>
        and <a href="http://markdowntoapa.com/">Markdown to APA</a>: generate
        perfect MLA and APA documents from plain text markdown
      </li>
      <li>
        <a target="_blank" href="https://timecardapp.com">Timecard App</a>:
        timecard calculator (a rewrite of
        <a href="/timecardapp">my oldest useful program</a>)
      </li>
      <li>
        <a target="_blank" href="http://gen.co/timer/">Timer</a>: a simple timer
        with alarm for teaching in poms
      </li>
      <li>
        <a target="_blank" href="http://gen.co/icondice/">Icon Dice</a>: a ~900
        sided dice with
        <a href="https://material.io/icons/" target="_blank">icons</a> instead
        of numbers
      </li>
      <li>
        <a target="_blank" href="http://gen.co/clear/">Clear Decoder</a>: decode
        links from the
        <a
          target="_blank"
          href="https://itunes.apple.com/us/app/clear-todos/id493136154?mt=8"
          >Clear iOS list making app</a
        >
        to markdown
      </li>
      <li>
        <a target="_blank" href="https://profileflags.parseapp.com/"
          >Profile Flags</a
        >: add a country flag over your Facebook profile picture
      </li>
      <li>
        <a target="_blank" href="https://github.com/christiangenco/autorunner"
          >autorunner</a
        >: command line tool to run a command when a file is saved
      </li>
      <li>
        <a
          target="_blank"
          href="https://github.com/christiangenco/t_time_tracker"
          >t_time_tracker</a
        >: simple command line time tracking
      </li>
      <li>
        <a target="_blank" href="http://emailtipbot.com">Email Tip Bot</a>:
        send/receive bitcoin through email. Shut down (and coins returned) in
        2017.
      </li>
    </ul>

    <h2><a id="podcasts" name="podcasts" />Podcasts</h2>

    <ul>
      <li>
        <a
          href="https://okproductive.com/episodes/023-3-hat-productivity-with-christian-genco"
          >OK Productive 023</a
        >: 3 Hat Productivity with Christian Genco<small
          class="pull-right font-mono"
          >2019-06-23</small
        >
      </li>
      <li>
        <a href="http://businessdesignpodcast.com/bdp-10-christian-genco/"
          >The Business Design Podcast #10</a
        >: "Many people dream of a job where they can travel all over the world
        while they work remotely. Christian Genco lives this dream."<small
          class="pull-right font-mono"
          >2018-01-16</small
        >
      </li>
      <li>
        <a href="http://hellotechpros.com/christian-genco-productivity/"
          >Hello TechPros #58</a
        >: Get Perfect Memory and Always Know What to Do Next – Productivity
        Tuesday with Christian Genco<small class="pull-right font-mono"
          >2016-05-31</small
        >
      </li>
      <li>
        <a
          href="https://heathandalyssa.com/rve-0011-christian-elisa-genco-plan-retire-30-years-old/"
          >RV Entrepreneur Podcast #0011</a
        >: How Christian & Elisa Genco Plan to Retire by 30 Years Old<small
          class="pull-right font-mono"
          >2016-04-07</small
        >
      </li>
    </ul>

    <h2><a name="books" id="books"></a>Book Notes</h2>
    <ul>
      {% assign sortedBooks = site.books | date_sort | reverse %} {% for book in
      sortedBooks %}
      <li>
        <a href="{{ book.url | prepend: site.baseurl }}">
          {{book.title}}
        </a>
        <small class="pull-right font-mono"
          >{{book.date | date: "%Y-%m-%d"}}</small
        >
      </li>
      {% endfor %}
    </ul>

    <h2><a id="posts" name="posts" >Posts</h2>
    <ul>
      {% for post in site.posts %} {% if post.categories contains 'pages' %} {%
      else %} {% if post.hide %} {% else %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>:
        {{post.excerpt}}
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>

    <h2>
      <a id="recommendations" name="recommendations" />Blog Recommendations
    </h2>

    <p>
      If you like the stuff on my blog, you'll probably like the stuff on these
      other blogs too. In no particular order:
    </p>

    <ul>
      <li>
        <a href="https://patrickcollison.com/" target="_blank"
          >Patrick Collison</a
        >: thoughts, advice, and recommendations from the co-founder of Stripe.
        I especially like his
        <a href="https://patrickcollison.com/questions" target="_blank"
          >questions</a
        >. This dude knows how to think.
      </li>
      <li>
        <a href="http://paulgraham.com/articles.html" target="_blank"
          >Paul Graham's Essays</a
        >: founder of Y Combinator and Hacker News.
      </li>
      <li>
        <a href="https://betterexplained.com/">Better Explained</a>: intuitive
        explanations of math concepts that schools sucks at teaching.
      </li>
      <li>
        <a href="https://mrmoneymustache.com/">Mr. Money Mustache</a>: learn how
        to earn enough money to retire within 10 years without winning the
        lottery.
      </li>
      <li>
        <a href="https://moretothat.com">More To That</a>: don't be fooled by
        the entertaining colorful illustrations—this shit gets deep.
      </li>
      <li>
        <a href="https://www.kalzumeus.com/start-here-if-youre-new/"
          >Patio11's blog</a
        >: founder of Bingo Card Creator and a superstar in the Microconf
        community. Patrick is the reason I'm currently running my own company.
        He taught me how to make money on the internet, and teaches people every
        day to Charge More™️.
      </li>
      <li>
        <a href="https://waitbutwhy.com/">Wait But Why</a>: mathy big-picture
        cartoons about life and technology. He has a great series on Elon Musk.
        I especially love
        <a href="https://waitbutwhy.com/2014/05/life-weeks.html"
          >Your Life in Weeks</a
        >.
      </li>
      <li>
        <a href="https://xkcd.com/">xkcd</a>: hilarious and clever comics about
        science, math, and life. Chances are there's a relevant xkcd for your
        last conversation.
      </li>
      <li>
        <a href="https://www.gwern.net/">Gwern</a>: I imagine this blog is what
        it would look like to pry open a rigorous scientist's brain and see how
        they've optimized their life. I love his approach to
        <a href="https://www.gwern.net/Zeo">optimizing sleep</a>. He calculates
        the freakin' p-values for how correlated taking melatonin is to his
        sleep quality and randomly A/B tested two different mattresses. Who does
        that?!
      </li>
      <li>
        <a href="https://sivers.org/">Derek Sivers</a>: founder of CDBaby.com
        and one of the few humans I feel like has life figured out. His articles
        are short and sweet. I especially like
        <a href="https://sivers.org/hellyeah">Hell Yeah or no</a>.
      </li>
      <li>
        <a href="https://guzey.com/">Guzey</a>: Another Gwern-like blog. I like
        his
        <a href="https://guzey.com/productivity/">article on productivity</a>.
      </li>
    </ul>
  </div>
</div>
