---
layout: default
type: page
---

<style>
  small{
    font-family: monospace;
    font-size: 12pt;
    color: #ccc;
  }
</style>

<div class="wrapper">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>All Posts</h1>
      <ul>
        {% for post in site.posts %}
          {% if post.categories contains 'pages' %}
          {% else %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">
                {{post.title}}
              </a>
              <small class="pull-right">{{post.date | date: "%Y-%m-%d"}}</small>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


<!-- <div class="media">
  <div class="media-left">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <img src="{{post.image_small}}" class="img-rounded img-responsive media-object" />
    </a>
  </div>
  <div class="media-body">
    <h3 class="media-heading">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{post.title}}
      </a>
    </h3>
    <p>{{post.excerpt}} <a href="{{ post.url | prepend: site.baseurl }}">more...</a></p>
  </div>
</div>
 -->
