<hr>

<footer class="wrapper">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p><i><a href="https://github.com/christiangenco/christiangenco.github.io/issues/new">Dude something's wrong on this page and I need you to know about it...</a></i></p>
      <h3>Stay Updated</h3>
      <p>Subscribe to get an email when Christian writes something new (or via. <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>).</p>

      <form class="form-inline" action="https://email.gen.co/subscribe" method="POST" accept-charset="utf-8" name="emailListSignupForm" id="emailListSignupForm" data-list-id="VGfeMImlOjxiPTMreg19xQ">
        <div class="form-group">
          <label class="sr-only" for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label class="sr-only" for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
        </div>
        <button type="submit" class="btn btn-default">Subscribe</button>
        <p id="status" class="help-block"></p>
      </form>
      <!--
      <form action="https://email.gen.co/subscribe" method="POST" accept-charset="utf-8">
      	<label for="name">Name</label><br/>
      	<input type="text" name="name" id="name"/>
      	<br/>
      	<label for="email">Email</label><br/>
      	<input type="email" name="email" id="email"/><br/>
      	<div style="display:none;">
      	<label for="hp">HP</label><br/>
      	<input type="text" name="hp" id="hp"/>
      	</div>
      	<input type="hidden" name="list" value="VGfeMImlOjxiPTMreg19xQ"/>
      	<input type="hidden" name="subform" value="yes"/>
      	<input type="submit" name="submit" id="submit"/>
      </form> -->


    </div>
  </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Your customer chat code -->
<div class="fb-customerchat" attribution="setup_tool" page_id="429426500555082" theme_color="#b8c2cc" logged_in_greeting="Hello! I'm Christian Genco. What's up?" logged_out_greeting="Hello! I'm Christian Genco, and you can chat with me on Facebook Messenger. What's up?"
  greeting_dialog_display="hide">
</div>