body {
  font-family: georgia, garamond, serif;
  // padding-top: 30px;
  // background-color: #FFFCF8;
  background-color: #b8c2cc;
  // background-image: url(/favicons/pattern.svg);
}

.container {
  background-color: #f8fafc;
}

.wrapper {
  overflow-x: hidden;

  & > .row {
    margin: 0 20px;
  }
}

.navbar {
  // margin-bottom: 0;

  a {
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14pt;
  }
}

// post
h1,
h2,
h3,
h4,
h5,
h6,
a.brand {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.04em;
  line-height: 1;
}

h1 {
  font-size: 45pt;
  margin-bottom: 30px;
}

h2 {
  font-size: 30pt;
  line-height: 1.2;
  margin-bottom: 10px;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  color: #777;
  margin-bottom: 10px;
  margin-top: 50px;
}

p,
li,
blockquote {
  font-size: 16pt;
  line-height: 25pt;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  // margin-bottom: 20px;
}

p {
  margin: 0 0 30px 0;
  word-wrap: break-word;
  line-height: 1.5;
}

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.8);
  padding-left: 20px;
  font-style: italic;

  p {
    font-style: italic;
  }
}

a {
  color: #444;
  text-decoration: underline;
  &:hover {
    color: #888;
  }

  &.btn {
    text-decoration: none;
  }
}

ul,
ol {
  // margin-left: -20px;
}

hr {
  clear: both;
}

.background-image {
  position: relative;
  margin: 0;
  width: 100%;
  // height: 99.5vh;
  height: 60vh;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a,
  li,
  div,
  span {
    color: white;
  }

  & > .content {
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(0, 0, 0, 0.44);

    & > .small {
      position: absolute;
      top: 20px;
      left: 20px;

      &,
      a {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    & > .vertical-wrapper {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
  }
}

figure {
  margin: 10px 30px 10px 0;

  figcaption {
    font-style: italic;
    font-size: 11.5pt;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.4;
    // z-index: 300;
    text-align: center;
    margin-top: 10px;
  }

  img {
    // margin: 0 auto;
    width: 100%;
  }

  &.left {
    width: 50%;
    float: left;
  }

  &.left-overflow {
    width: 75%;
    float: left;
    margin-left: -12%;
  }

  &.right {
    width: 50%;
    float: right;
    margin-left: 30px;
    margin-right: 0;
  }

  &.right-overflow {
    width: 75%;
    float: right;
    margin-right: -12%;
    margin-left: 30px;
  }

  &.center {
    margin: 0 auto;
  }

  &.center-overflow {
    width: 120%;
    max-width: 120%;
    margin-left: -10%;
  }

  &.fullscreen {
    width: 130%;
    max-width: 130%;
    margin-left: -15%;
  }
}

@media (max-width: 768px) {
  figure.img-left-overflow {
    float: none;
    margin: 0 auto;
  }

  h1 {
    font-size: 50pt;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 19pt;
  }
}
