@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: triplicate;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url("../fonts/triplicate_t4_code_regular.woff2") format("woff2");
}

@font-face {
  font-family: triplicate;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url("../fonts/triplicate_t4_code_italic.woff2") format("woff2");
}

@font-face {
  font-family: triplicate;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url("../fonts/triplicate_t4_code_bold.woff2") format("woff2");
}

@font-face {
  font-family: triplicate;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url("../fonts/triplicate_t4_code_bold_italic.woff2") format("woff2");
}

@font-face {
  font-family: triplicate-caps;
  font-weight: normal;
  src: url("../fonts/triplicate_c4_code_regular.woff2") format("woff2");
}

@font-face {
  font-family: triplicate-caps;
  font-weight: bold;
  src: url("../fonts/triplicate_c4_code_bold.woff2") format("woff2");
}

.embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  /* 16:9*/
  padding-top: 56.25%;
  /* 4:3 = 75%, square = 100%, 21:9 = 42.86%; */
}

.embed iframe,
embed,
object,
video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
}

/* highlight.js theme */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
}
.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #98ff46;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: white;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #4398f0;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #98ff46;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #ae81ff;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}
