---
title:
---


<img class="rounded-full mr-2 float-right" style="    transform: rotate(-3deg)" src="/images/profile.square.small.jpg" alt="">
<h1>Hi! I'm Christian Genco.</h1>
<p>I retired at 22 after starting a software business that runs itself. Now I help entrepreneurs automate their businesses and live healthier lives.</p>

<p>I'd love to help you:</p>

<ul>
  <li>automate your process for receiving and organizing files from customers with <a href="https://fileinbox.com">Fileinbox</a></li>
  <li>learn to code at <a href="https://www.genco.school">Genco.school</a> because <a target="_blank" href="https://youtu.be/xfBWk4nw440">you should learn to program</a></li>
  <li>build and grow a software business by following along on my weekly podcast <a href="https://makers.dev">Makers.dev</a></li>
  <li>improve your sleep and general health by watching some videos on <a target="_blank" href="https://youtube.com/cgenco">my YouTube channel</a>.</li>
  <li>practice mindfulness in your news feeds by subscribing to <a target="_blank" href="https://yourthoughts.fm">Your Thoughts</a>.</li>
  <li>learn some new stuff by reading some of my <a href="/notes">book and conference notes</a> or <a href="/articles">longer articles about specific research topics</a></li>
  <li>explore weird ideas by listening to my interview podcast <a target="_blank" href="https://www.youtube.com/channel/UCrc3MWpTojA5MZ2_OAe7h5Q">The Genco Show</a>.</li>
</ul>

<p>If some of that has helped you, I'd love to stay in touch! Hop on <a href="/newsletter">my newsletter</a> and I'll send you a monthly update about what I'm working on and thinking about.</p>
